<form ng-submit="addticket()" class="form-horizontal" role="form">

<div class="modal-header">
  <button type="button" class="close" ng-click="$dismiss()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" id="myModalLabel">Pago</h4>
</div>
<div class="modal-body">
    <div class="form-group">
      <div class="col-sm-2">
          Cliente
      </div>
      <div class="col-sm-10">
        <input type="search" name="" class="form-control" value="">
      </div>
    </div>
</div>

<div class="modal-footer">
      <div class="form-group">
      <div class="col-sm-10 col-sm-offset-2">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
</div>

</form>
