<h2>{{ editPost.title }} {{ addPost.title }}</h2>

<form ng-submit="addPost.savePost()">

  <div class="form-group">
    <label for="">Nombre</label>
    <input type="text" class="form-control" placeholder="" ng-model="editPost.post.name">
  </div>

  <div class="form-group">
    <label for="">RFC</label>
    <input type="text" class="form-control" placeholder="" ng-model="editPost.post.tax_id">
  </div>

  <div class="form-group">
    <label for="">Text</label>
      <textarea name="name" rows="8" cols="40" class="form-control" ng-model="editPost.post.body">{{ edit.post.body }}</textarea>
  </div>

  <button type="submit" class="btn btn-default btn-block {{ addPost.btncolor }} {{ editPost.btncolor }}">
    {{ addPost.button }} {{ editPost.button }}
  </button>

</form>

<br>
