<div class="row">
	<div class="col-xs-4">
		<h2>Clientes <i class="fa fa-users fa-2x"></i> </h2>
	</div>
	<div class="col-xs-4">
		<label for="search">Search:</label>
		<input ng-model="posts.q" id="search" ng-change="posts.getclients()" ng-minlength="2" class="form-control" placeholder="Filter text">
	</div>
	<div class="col-xs-4">
		<label for="search">items per page:</label>
		<input type="number" min="1" max="100" class="form-control" ng-model="posts.pageSize">
	</div>
</div>
<br>

<div class="container-fluid">
<div class="row text-center">

<ul>
  <li dir-paginate="client in posts.all | filter:posts.q: '!null' | itemsPerPage: posts.pageSize" total-items="posts.totalUsers" current-page="posts.pagination.current" class="list-unstyled">
    <h2> <small>{{ client.id }} </small> {{ client.name }} <small><strong> {{ client.tax_id }} </strong></small></h2>
     <p>
       <button type="button" class="btn btn-danger" confirm="Are you sure ?" ng-click="posts.deletePost(client.id)">
          <i class="fa fa-trash-o"></i>
       </button>
       <a class="btn btn-primary" href="#editPost/{{ client.id }}">
         <i class="fa fa-pencil"></i>
       </a>
     </p>
  </li>
</ul>

<dir-pagination-controls on-page-change="posts.pageChanged(newPageNumber)"></dir-pagination-controls>

<div ng-hide="posts.all.length">No posts found</div>

</div>
</div>
